<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link href="/css/materialize.min.css" rel="stylesheet" type="text/css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Training Phrases</title>
   
                
</head>

<body>
  
    <form >
        <div id="phrases">
            <div class="row" id="phrase1">
                <input id="field1"  class="input-field col s12" type="text" placeholder="Add Training Phrase"
                    class="validate">
                    <a class="waves-effect waves-light btn" id="delete"><i class="material-icons">delete</i></a>
            </div>
            
        </div>
        <a class="waves-effect waves-light btn" id="add"><i class="material-icons">add</i></a>
        <button class="btn waves-effect waves-light" id="save" type="button" name="action">Save
            
          </button>



        
    </form>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="assets/js/materialize.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>

</body>

<script>
     $("#add").click(function (e) { 
        counter++
        e.preventDefault()
        $("#phrases").append('<div class="row" id="phrase' + counter + '"><input class="input-field col s12" type="text" id = "field' + counter + '"placeholder="Add Training Phrase" class="validate"> <a class="waves-effect waves-light btn" id="delete"><i class="material-icons">delete</i></a></div>');
      
    });
    

    $('body').on('click','#delete',function(e){
        $(this).parent('div').remove()
    })

    $("#save").click(function (e) {
       var i, phrases = []
       for (i = 1; i <= counter; i++) {
     
        phrases.push($("#field"+i).val())
      }
      data = {}
      data.phrases = phrases
      $.ajax({
          type: "POST",
          url: "https://override-webserver.herokuapp.com/storePhrases",
          data: JSON.stringify(data),
          contentType: 'application/json',
          success: function (response) {
              
          }
      });
   
    })
    
</script>
</html>