<!DOCTYPE html>
<html>

<head>
    <title>The Materialize Dropdowns Example</title>
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">



    </script>
</head>

<body>


       

<img id="blah" alt="">





    <ul id="dropdown" class="dropdown-content">
        <li id="image"><a href="#">Image</a></li>
        <li id="text"><a href="#" id="text">Text</a></li>
        <li id="carousel"><a href="#">Carousel</a></li>
        <li id="video"><a href="#">Video</a></li>

    </ul>



    <form action=""  enctype="multipart/form-data" id="responseForm">



        <div id="responses">

        </div>


        </div><br>

        <a class="btn dropdown-button" href="#" data-activates="dropdown">Add Responses
            <i class="mdi-navigation-arrow-drop-down right"></i></a>
        <button class="btn waves-effect waves-light" type="button" id="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</body>

</html>
<script>
  


    $(document).ready(function () {

            var data2 = <%- JSON.stringify(data)%>
         



        var counter = 1
        $('body').on('click', '#delete', function (e) {
            $(this).parent('div').remove()
        })


        $("#submit").click(function () {
            var responses = []
            console.log(responseArray[i].id)
            

            var i, responseArray = $("#responses > div")

            for (i = 0; i < responseArray.length; i++) {
                
                if(responseArray[i].id === "text"){
                 
                    var id = responseArray[i].firstChild.firstChild.id
                responses.push({
                    type : 'text',
                    data : $("#" + id).val()
                })
                    
                }
                else if(responseArray[i].id === "image"){
                     var fileID = responseArray[i].firstChild.firstChild.firstChild.firstChild.firstChild.lastChild.id
                    console.log("HEY")
                    var file = $('#'+fileID)[0].files[0]
                    var formData = new FormData()
                    formData.append('file',file)
                    formData.append('upload_preset',preset)
                    console.log(formData)
                    axios({
                        url: uploadURL,
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        data:formData,
                    

                        
                    }).then(function(res) {
                        console.log(res)
                    }).catch(function(err){
                        console.log(err)
                    })
                    
                }
       
                
            }
           
            data = {}
            data.responses = responses
            data.userID = data2.userID
            data.intentID = data2.intentID

          
           
            
    //        $.ajax({
    //       type: "POST",
    //       url: "https://override-webserver.herokuapp.com/storeResponses",
    //       data: JSON.stringify(data),
    //       contentType: 'application/json',
    //       success: function (response) {
               
    //             console.log(response)

    //       }
    //   });
           
        })



        $("li").click(function () {
            if (this.id === 'text') {

                $("#responses").append(
                    ' <div id="text" class="card"><div class="input-field col s10"><textarea required placeholder = "Enter Text" id="textarea' +
                    counter +
                    '"class="materialize-textarea"></textarea><a class="waves-effect waves-light btn" id="delete"><i class="material-icons">delete</i></a></div</div>'
                )


            } else if (this.id === 'video') {
                $("#responses").append("<p>Video</p>")

            } else if (this.id === 'carousel') {
                $("#responses").append("<p>Carousel</p>")

            } else if (this.id === 'image') {
                $("#responses").append('<div class="row"><div class="col s12 m3"><div class="card"><div class="card-content"><div class="file-field input-field"><div class="btn"><span>File</span><input type="file" id="image'+ counter +'"></div><div class="file-path-wrapper"><input class="file-path validate" type="text"></div></div></div><div class="card-content"><div class="row"><div class="input-field col s12"><input placeholder="Title" id="first_name" type="text"></div></div><div class="row"><div class="input-field col s12"><input placeholder="Subtitle" id="first_name" type="text"></div></div></div><div class="card-action"><div class="row"><div class="input-field col s12"><input placeholder="Button Name" id="first_name" type="text"></div></div></div><a class="waves-effect waves-light btn" id="delete"><i class="material-icons">delete</i></a></div></div></div>')
              // Add Event hook again on newly created DOM element
              $("#file").change(function () {
                    readURL(this);
                });

            }
            counter++

        })
    })

 
</script>